<div dir="rtl" class="row" style="border-top:2px solid #CCCCCC;border-bottom:1px solid #CCCCCC;margin-bottom:1%;
    padding: 6px 0;
    font-size: 19px;
    line-height: 25px;
    justify-content: center;">
    <div class="container">
        <p style="width: 60%;">
            <a routerLink="/">דף הבית</a> -> ספרים
        </p>
    </div>



</div>
<div class="container">


    <div class="row" dir="rtl" style="justify-content: center;">
        <div class="col" style="border-left: 1px solid black;">
            <div style="width:100%;background-color: #A5CC3B;line-height: 25px;border-top-right-radius: 50px;border-bottom-right-radius: 50px;margin-bottom: 5px;">
                <p style="margin-right: 10px;color:#fff">מבצעים</p>
            </div>
            <div style="width:100%;background-color: #16542D;line-height: 25px;border-top-right-radius: 50px;border-bottom-right-radius: 50px;margin-bottom: 30px;">
                <p style="margin-right: 10px;color:#fff">חדשים</p>
            </div>
            <div style="width: 100%;border-bottom:1px solid black">
                מומלצים
            </div>
        </div>
        <div class="col-9">
            <h1>ספרים</h1>

            <h3>מוצרים שיכולים לעניין אותך</h3>
            
        </div>
    </div>
</div>