<div class="row"
    style="background-color: #a6ce39;justify-content: center;line-height:30px;align-items: center;font-family: 'almoni-dl';">
    <a routerLink="/">איסוף חבילות חינם מכל סניפי הרשת</a>
</div>
<div class="row" dir="rtl"
    style="background-color: #333333;border-bottom: #16542D 8px solid;justify-content: center;height:120px;align-items: center;">
    <div class="container">
        <div style="width:100%;display: flex;align-items: center;">

            <div style="width:17%;height:60px;">
                <img src="https://d3hb4faco7nbjh.cloudfront.net/skin/frontend/steimazki/default/images/logo.png"
                    style="height:100%;width:auto;" />

            </div>
            <div
                style="width:55%;display:inline-block;background-color: white;height:60px;padding-left:10px;padding-right:10px;border-radius: 10px;">
                <input type="text" style="line-height: 60px;font-size:20px;border:none;width:95%;" />

                <img src="/assets/UI/SEARCH.png"
                    style="vertical-align:middle;text-align: center;padding-bottom: 5px;height:65%;width:5%" />

            </div>
            <div style="width:22%;font-size: 20px;line-height: 21px;font-family: 'almoni-dl';font-weight: 400;color:#A5CD39"
                align="center">
                סטימצקי לעסקים כרטיס מתנה <br>
                <a routerLink="/sign-in" style="color:#A5CD39" >התחברות / הצטרפות </a><br>
                שינוי / ביטול הזמנה <br>
            </div>
        </div>
    </div>

    <!-- <div style="width:20%;display: flex;justify-content: center;align-items:center">
        <img src="../assets/UI/LOGO.png" style="width: 60%;"/>
        </div>
        <div style="width:30%;">
            <a routerLink="/">Home</a><br>
            <a routerLink="/sign-in">Sign In</a><br>
            <a routerLink="/sign-up">Sign Up</a><br>
        </div>
        <div style="width:40%;">
        vbnvbnvbn
        </div> -->
</div>