<div class="row" style="justify-content: center;position: relative;height:40px;background-color: #333333;color:#fff;width:99%;margin:auto;margin-top:20px;margin-bottom:20px" dir="rtl">

    <h2 align="center" style="float: right;position: absolute;top:5px;right:20px;line-height:30px">חיפוש</h2>

    <input style="float: right;position: absolute;top:12px;right:80px;" type="text">


</div>
<div class="row">

    <div class="col">

        <div class="row" style="margin:auto;justify-content:center;width:100%">
            <div class="col-1" align="center" *ngFor="let i of BOOKS">
                <img src="{{i.imageUrl}}" style="width:90%" /><br>
                {{i.name}}<br>
                {{i.author}}<br>
            </div>
        </div>
    </div>
</div>