<div class="row" dir="rtl" style="background-color: #FFF;justify-content: center;height:62px;align-items: center;">
    <div style="width:100%;display: flex;align-items: center;justify-content: space-around;font-family: 'almoni-dl';font-size:18px;">
        <div>
            מבצעים
        </div>
        <div>
            ספרים
        </div>
        <div>
            English Books
        </div>
        <div>
            משחקים
        </div>
        <div>
            פאזלים
        </div>
        <div>
            צעצועים
        </div>
        <div>
            מתנות ופנאי
        </div>
        <div>
            מוסיקה
        </div>
        <div>
            מוצרי חשמל
        </div>
        <div>
            סמארטפונים
        </div>
        <div>
            קוסמטיקה ובישום
        </div>
        <div>
            HOME
        </div>
        <div>
            קמפינג
        </div>
        <div>
            מועדון לקוחות
        </div>
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
</div>